body{
    margin: 0;
    padding: 0;
}
main{
    width: 1180px;
    margin: 0 auto;
}
ul,li{
    margin: 0;
    padding: 0;
}
header{
    background-color: #CC0000;
}
.header_logo{
    margin: 8px 0px 7px 0px;
}
.header_nav{
    display: flex;
}
nav ul{
    display: flex;
    margin-top: 31px;
    margin-left: 74px;
}
nav ul li{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    list-style: none;
    margin-right: 50px;
}
nav ul li a:hover{
    transition: .5s;
    color: #313968;
}
nav ul li:last-child{
    margin-right: 178px;
}
nav a{
    color: #fff;
    text-decoration: none;
}
.personal_account{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    display: none;
}
.entrance{
    color: #fff;
    margin-left: auto;
    margin-top: 17px;
    margin-bottom: 17px;
    padding-top: 14px;
    font-family: 'Montserrat', sans-serif;
    width: 220px;
    height: 35px;
    background-color: #313968;
    text-align: center;
    border-radius: 10px;
}
.entrance a{
    text-decoration: none;
    color: #fff;
}
.entrance a:hover{
    transition: .7s;
    font-size: 15px;
    color: #CC0000;
}